.main-news {
    display: flex;
    box-sizing: border-box;
    margin: 2%;
    
}
.main-news-img {
    flex-basis: 100%;
}

.main-news-img img {
    height: 400px;
    width: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.main-news-content {
    margin: 3%;
    flex-basis: 100%;
    position: relative;
}

.main-article-info {
    display: flex;
    align-items: center;
}

.main-article-info #main-article-writer {
    margin-left: 10px;
}

.margin-left-25px {
    margin-left: 25px;
}

.main-article-info img {
    clip-path: circle();
    width: auto;
    height: 25px;
}

.main-article-heading h1{
    font-size: 50px;
    margin: 15px;
}

.main-article-content {
    /* position: absolute;
    top: 50%;
    transform: translate(0%, -50%); */
}

.main-article-content p{
    font-size: 28px;
    padding: 5% 0;
}

.main-article-type {
    position: absolute;
    bottom: 5px;
}
.main-article-type p{
    font-size: 18px
}

@media (max-width: 1365px) {
    .main-news {
        flex-direction: column;
    }

    .main-article-heading h1{
        margin: 15px 0px;
    }
}