.latest-news {
    margin: 2%;
}

.latest-news h1 {
    font-size: 56px;
}

.latest-news-contents {
    display: flex;
    overflow-y: hidden;
}

.latest-news-contents a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.latest-news-content {
    /* box-shadow: 3px 3px #922626a2; */
    margin: 10px 30px 10px 0px;
    object-fit: cover;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; */
    border: 2px solid red;
    border-radius: 10px;


}

.latest-news-content:hover h3 {
    /* text-decoration: underline; */
    color: red;
}

.text-content {
    padding: 10px;
    position: relative;
    height: 100%;
}

.bottom-right {
    position: absolute;
    right: 7px;
    bottom: 7px;
}

.text-content p {
    padding: 5px 0px;
}

.latest-news-content img {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.latest-news-contents::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b14f4f3b;
    border-radius: 10px;
}

/* Handle */
.latest-news-contents::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
.latest-news-contents::-webkit-scrollbar-thumb:hover {
    /* background: #b30000; */
    background: red;
}


@media (max-width: 700px) {


    .latest-news-contents {
        flex-direction: column;
        justify-content: center;
        width: auto;
    }


    .latest-news-content {
        margin: 10px;
        width: 300px;
    }
}

@media (max-width: 520px) {
    .latest-news-contents a {
        z-index: 2;
    }
}