.latest-news {
    margin: 2%;
}

.latest-news h1 {
    font-size: 56px;
}

.latest-news-contents {
    display: flex;
    overflow-y: hidden;
}

.latest-news-contents a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.latest-news-content {
    /* box-shadow: 4px 4px #dfdcdc5d; */
    margin: 10px 30px 10px 0px;
    object-fit: cover;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(196, 17, 17);
}

.latest-news-content p {
    overflow-wrap: break-word;
}

.latest-news-content img {
    height: 250px;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.latest-news-contents::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc7c73b;
    border-radius: 10px;
}

/* Handle */
.latest-news-contents::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
.latest-news-contents::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


@media (max-width: 700px) {


    .latest-news-contents {
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .latest-news-content {
        margin: 10px;

    }
}

@media (max-width: 520px) {
    .latest-news-contents a {
        width: 95vw;
    }
}

